<!DOCTYPE html>
<html>
  <head>
    <title>Cutrl| URL Shortner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="cuts__error"><%= flash[:error] %></div>
    <%= yield %>
  </body>
</html>
